:root {
  --sidebar-width: 70px;
  --sidebar-width-expand: 200px;
}

.copilot-bg {
  min-height: 100svh;
  position: relative;
  z-index: 0;
  background-color: rgb(246, 246, 246);
}
.copilot-bg .sidebar-desktop {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: var(--sidebar-width);
  background-color: rgb(255, 255, 255);
  z-index: 1;
  transition: 0.5s all ease;
  display: flex;
  flex-direction: column;
}
.copilot-bg .sidebar-desktop:hover {
  width: var(--sidebar-width-expand);
}
.copilot-bg .content {
  width: calc(100% - var(--sidebar-width));
  transition: 0.5s all ease;
  position: relative;
}
.copilot-bg header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 15px 35px;
  /* background-color: rgb(239, 239, 239); */
  background-image: linear-gradient(150deg, #103163, #137da7, #0bad98);
  /* background-color: #6d2cf3; */
}
.copilot-bg header .back-btn {
  font-size: 14px;
  font-weight: 400;
  /* color: rgb(108, 108, 108); */
  color: white;
  /* border: 1px solid rgb(153, 153, 153); */
  border: 1px solid white;
  padding: 7px 15px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  margin: 5px 25px;
  /* margin-left: auto; */
  transition: 0.2s all ease;
}
.copilot-bg header .back-btn:hover {
  background-color: white;
  color: rgb(34, 26, 139);
}
.sidebar-desktop .sidebar-desktop-logo {
  margin: 20px 10px;
  height: 60px;
  max-width: 130px;
  min-width: 130px;
}
.sidebar-desktop .sidebar-desktop-logo-small {
  margin: 20px 10px;
  height: 50px;
  max-width: 50px;
  min-width: 50px;
}
.sidebar-desktop .sidebar-desktop-header {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
.sidebar-desktop .sidebar-desktop-header button {
  /* background-color: #00b5df; */
  width: 30px;
  font-size: 25px;
}
.copilot-bg .sidebar-desktop .sidebar-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 50px;
}
/* .sidebar-desktop:hover ~ .link {
  display: flex;
} */
.sidebar-desktop .sidebar-list .link {
  display: flex;
  align-items: center;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  overflow: hidden;

  font-size: 14px;
  font-weight: 400;
  color: rgb(109, 109, 109);
  /* margin-bottom: 15px; */
  padding: 15px 20px;
  transition: 0.2s all ease;
}
.sidebar-desktop .sidebar-list .link img {
  margin-right: 20px;
  max-width: unset;
}
.sidebar-desktop .sidebar-list .link span {
  text-wrap: nowrap;
  /* display: none; */
}
.sidebar-desktop .sidebar-list .link:hover {
  /* border-left: 5px solid rgb(55, 129, 213); */
  background-color: rgba(141, 223, 226, 0.178);
  color: rgb(42, 44, 44);

  /* background-color: white; */
}
.sidebar-desktop .sidebar-list .link.active {
  border-left: 5px solid rgb(55, 129, 213);
  border-right: 5px solid rgb(55, 129, 213);

  color: rgb(10, 81, 84);

  /* background-color: white; */
}

.sidebar-desktop .sidebar-list .link.active img {
  /* filter: drop-shadow(2px 2px 1px rgba(94, 238, 190, 0.817)); */
  transition: 0.2s all ease;
}
.sidebar-desktop .sidebar-list .link.active span {
  /* filter: drop-shadow(2px 2px 1px rgba(60, 210, 160, 0.817)); */
  transition: 0.2s all ease;
}
.pilot-continer {
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 85svh;
  margin-left: var(--sidebar-width);

  /* overflow-y: auto; */
}
.market-insights-intro-card {
  /* height: 200px; */
  text-align: left;
  width: max(40%, 350px);
  font-size: 17px;
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  padding: 25px 35px;
  color: rgb(31, 31, 31);
  border-radius: 10px;
  box-shadow: 3px 3px 5px 0px rgb(211, 235, 230);
  margin-top: 20px;
  transition: 0.2s all ease-out;
  /* cursor: pointer; */
}
.market-insights-intro-card:hover {
  transform: translateY(-3px);
  box-shadow: 3px 3px 10px 0px rgb(187, 221, 214);
}
.market-insights-intro-card .text-1 {
  font-size: 20px;
  font-weight: 700;
}
.market-insights-intro-card .text-2 {
  font-size: 17px;
  font-weight: 400;
  color: #464646;
  margin: 8px 0 5px 0;
}
.market-insights-intro-card span {
  font-size: 16px;
  font-weight: 400;
  color: #464646;
  display: flex;
  align-items: center;
  text-align: left;
  color: #181818;
  font-weight: 400;
  margin-bottom: 2px;
}
.market-insights-intro-card span .icon {
  font-size: 17px;
  margin-right: 10px;
  color: #636363;
}
.suggestions {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  width: 70%;
  /* height: calc(100svh - 250px); */
}
.suggestions .question {
  background-color: rgb(255, 255, 255);
  padding: 25px 35px;
  font-size: 15px;
  color: rgb(33, 79, 171);
  border-radius: 6px;
  box-shadow: 3px 3px 5px 0px rgb(211, 235, 230);
  cursor: pointer;
}
.suggestions-heading {
  font-size: 15px;
  font-weight: 400;
  color: rgb(153, 153, 153);
  margin-bottom: 15px;
}

.pilot-continer .input-box {
  background-color: white;
  border: 1px solid rgb(174, 174, 174);
  border-radius: 6px;
  width: 100%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: auto;
}
.pilot-continer .input-box input {
  background-color: transparent;
  width: 100%;
  padding: 10px 35px;
  font-size: 15px;
  font-weight: 400;
  color: rgb(87, 87, 87);
  outline: none;
  border: none;
}
.pilot-continer .input-box button {
  /* background-color: rgb(33, 79, 171); */
  color: rgb(184, 184, 184);
  position: absolute;
  margin-right: 15px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pilot-continer .input-box button:hover {
  color: rgb(44, 172, 189);
}
.chat-window {
  width: 100%;
  padding: 10px;
  /* height: calc(100svh - 270px); */
  max-height: 90%;
  /* margin-top: auto; */
  /* background-color: white; */
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  /* justify-content: flex-end; */
  overflow: auto;
}
.chat-window::-webkit-scrollbar {
  display: none;
}
.chat-window .bot-message {
  display: flex;
  align-self: flex-start;
}
.chat-window .user-message {
  display: flex;
  align-self: flex-end;
}

.chat-window .user-message span,
.chat-window .bot-message span.icon {
  padding: 10px;
  height: 40px;
  width: 40px;
  color: #249995;
  background-color: #e2eff1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.chat-window .bot-message .chat-loader {
  align-items: center;
  width: 100px;
  justify-content: space-around;
}
.chat-window .bot-message div.wrapper {
  padding: 10px 20px;
  margin-bottom: 15px;
  margin-left: 5px;
  border-radius: 10px;
  background-color: #e0eff3;
  /* opacity: 0; */
  /* transform: translateY(10px);
  animation: fadeIn 1s ease forwards; */
}
.chat-window .bot-message div.wrapper-1 {
  padding: 10px 20px;
  margin-bottom: 15px;
  margin-left: 5px;
  border-radius: 10px;
  background-color: #e0eff3;
  opacity: 0;
  transform: translateY(10px);
  animation: fadeIn 1s ease forwards;
}
.chat-window .bot-message p.wrapper {
  padding: 10px 20px;
  margin-bottom: 15px;
  margin-left: 5px;
  border-radius: 10px;
  opacity: 0;
  transform: translateY(10px);
  animation: fadeIn 1s ease forwards;
}

@keyframes fadeIn {
  from {
    transform: translateY(10px);

    opacity: 0;
  }
  to {
    transform: translateY(0px);

    opacity: 1;
  }
}
.chat-window .user-message p {
  /* text-align: right; */
  background-color: rgb(220, 245, 238);
  padding: 10px 20px;
  border-radius: 10px;
  margin-bottom: 15px;
  margin-right: 5px;
}

.pilot-continer .input-group {
  position: absolute;
  bottom: 15px;
  display: flex;
  flex-direction: column;
  width: 95%;
  margin-top: auto;
  /* min-height: 30px; */

  max-height: 30px;
  overflow: hidden;
  transition: 0.3s all ease-out;
}
.pilot-continer .input-group.expand {
  bottom: 40px;
  max-height: unset;
  background-color: #f6f6f6;
}
.pilot-continer .input-group .expand-inputs-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  padding: 10px;
  border: none;
  border-radius: 50%;
  background-color: #00b5df;
  width: 30px;
  height: 30px;
  align-self: center;
}

.pilot-continer .input-group.expand .expand-inputs-btn {
  display: none;
}
.pilot-continer .input-group .inputs-1 {
  display: flex;
  width: 100%;
  margin: 5px 0;
  gap: 10px;
}
.pilot-continer .input-group .inputs-1 input {
  background-color: white;
  border: 1px solid rgb(174, 174, 174);
  border-radius: 6px;
  width: 100%;
  padding: 7px 20px;
  font-size: 15px;
  font-weight: 400;
  color: rgb(87, 87, 87);
  outline: none;
  flex-grow: 1;
}

.pilot-continer .input-group .url-input {
  display: flex;
  margin: 5px 0;
  gap: 10px;
}
.pilot-continer .input-group .url-input input {
  background-color: white;
  border: 1px solid rgb(174, 174, 174);
  border-radius: 6px;
  width: 100%;
  padding: 7px 20px;
  font-size: 15px;
  font-weight: 400;
  color: rgb(87, 87, 87);
  outline: none;
  flex-grow: 1;
}
.pilot-continer .input-group .url-input button {
  background-color: #17a99a;
  color: white;
  outline: none;
  border: none;
  border-radius: 5px;
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pilot-continer .input-group .urls-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 10px;
}
.pilot-continer .input-group .urls-list span {
  background-color: #1787a9;
  color: white;
  font-size: 13px;
  font-weight: 500;
  padding: 4px 8px;
  border-radius: 15px;
  display: flex;
  align-items: center;
}
.pilot-continer .input-group .urls-list span .icon {
  margin-left: 5px;
  cursor: pointer;
}
.pilot-continer .input-group .send-btn {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, #00b5df, #00a46f);
  color: white;
  /* color: #0b639e; */

  padding: 6px;
  border-radius: 8px;
  margin-top: 10px;
  font-size: 17px;
  font-weight: 600;
}
@media screen and (max-width: 767px) {
  :root {
    /* --sidebar-width: 0px; */
  }
  .copilot-bg .sidebar-desktop {
    left: -250px;
  }
  .copilot-bg .content {
    width: 100%;
    margin: 0;
  }
}
